<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info alert-dismissable">

            <h2>Component NgExames</h2>
            <strong>Working!</strong> Criando biblioteca reutilizável. Veja o 
            <a href="https://blog.wgbn.com.br/criando-bibliotecas-reutiliz%C3%A1veis-para-seus-projetos-angular-7f9576c5ad2b
            " class="alert-link" target="_blank">tutorial</a>
        </div>
    </div>
</div>